@model IEnumerable<Core.Web.Models.EmployeeModel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<a asp-controller="Employee" asp-action="Create" class="btn btn-success">Create Employee</a>
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.IsActive
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Employee" asp-action="Edit" asp-route-Id="@item.Id">Edit </a>
                </td>
                <td>
                    <a class="btn btn-sm btn-danger" asp-controller="Employee" asp-action="Delete" asp-route-Id="@item.Id">Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>
